.loader{
    position: absolute;
    top: 40%;
    left: 47%;
}

.footer-copyright{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagination { 
    display: flex;
    align-items: center;
    justify-content: center;
}
