.loader{
    position: absolute;
    top: 40%;
    left: 47%;
}

.footer-copyright{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagination { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    margin-top: 70px;
    margin-bottom: 70px;
}

.btn-extend{
    display:block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.section-users img, .section-comments img{
  width:80px;
  height:80px; 
  margin-left: 30px;
  margin-right: 20px;
}